Purpose: Count the total number of tweets for each month per year using the query specified in the code below. (Will repeat multiple times for each year). Export into csv file.

In [12]:
import requests
import os
import json
import csv
import dateutil.parser
import time 
import pandas as pd 
from datetime import datetime

# The below environment variable is in the .env file
# It becomes accessible when you run "pipenv run jupyter lab" to start
# this notebook from the command line.
bearer_token = os.environ.get("TWITTER_BEARER_TOKEN")

In [13]:
count_url = "https://api.twitter.com/2/tweets/counts/all"
                
                
def bearer_oauth(r):
    """
    Method required by bearer token authentication.
    """

    r.headers["Authorization"] = f"Bearer {bearer_token}"
    r.headers["User-Agent"] = "v2FullArchiveTweetCountsPython"
    return r


def connect_to_endpoint(url, params, next_token = None):
    params['next_token'] = next_token
    response = requests.request("GET", count_url, auth=bearer_oauth, params=params)
    if response.status_code != 200:
        raise Exception(response.status_code, response.text)
    return response.json()


final_counts_by_year = {}

In [72]:
final_results_json = {} 

#COUNT FOR 2014
start_list = ['2014-01-01T00:00:00Z', '2014-02-01T00:00:00Z', '2014-03-01T00:00:00Z', '2014-04-01T00:00:00Z', '2014-05-01T00:00:00Z', '2014-06-01T00:00:00Z', '2014-07-01T00:00:00Z', '2014-08-01T00:00:00Z', '2014-09-01T00:00:00Z', '2014-10-01T00:00:00Z', '2014-11-01T00:00:00Z', '2014-12-01T00:00:00Z']
end_list = ['2014-01-31T00:00:00Z', '2014-02-28T00:00:00Z', '2014-03-31T00:00:00Z', '2014-04-30T00:00:00Z', '2014-05-31T00:00:00Z', '2014-06-30T00:00:00Z', '2014-07-31T00:00:00Z', '2014-08-30T00:00:00Z', '2014-09-30T00:00:00Z', '2014-10-31T00:00:00Z', '2014-11-30T00:00:00Z', '2014-12-31T00:00:00Z']
month = ['1-2014', '2-2014', '3-2014', '4-2014', '5-2014', '6-2014', '7-2014', '8-2014', '9-2014', '10-2014', '11-2014', '12-2014']

for i in range(0, len(start_list)): 
    
    total_tweets = 0
    
    count = 0 
    max_count = 500
    flag = True
    next_token = None

    while flag:
            if count >= max_count: 
                break 
            print("--------------------------")
            print("Token: ", next_token)
            query_params = {'query':'(bitcoin OR #bitcoin) -is:nullcast',
                    'start_time': start_list[i],
                    'end_time': end_list[i],
                    'granularity':'day',
                    'next_token' : {}}
            json_response = connect_to_endpoint(count_url, query_params)
            result_count = json_response['meta']['total_tweet_count']

            if 'next_token' in json_response['meta']:

                # Save the token to use for next call

                next_token = json_response['meta']['next_token']

                print("Next Token: ", next_token)
                if result_count is not None and result_count > 0 and next_token is not None:
                    print("Start Date: ", start_list[i])
                    final_results_json[(month[i])] = json_response['meta']['total_tweet_count']
                    count += result_count
                    total_tweets += result_count
                    print("Total # of Tweets added: ", total_tweets)
                    print("-------------------")

            else:
                if result_count is not None and result_count > 0:
                    print("-------------------")
                    print("Start Date: ", start_list[i])
                    final_results_json[(month[i])] = json_response['meta']['total_tweet_count']
                    count += result_count
                    total_tweets += result_count
                    print("Total # of Tweets added: ", total_tweets)
                    print("-------------------")
                    time.sleep(5)
    
                flag = False
                next_token = None 

            final_counts_by_year[month[i]] = total_tweets

            time.sleep(5)
            print("Total number of results: ", total_tweets)  

#COUNT FOR 2015
start_list = ['2015-01-01T00:00:00Z', '2015-02-01T00:00:00Z', '2015-03-01T00:00:00Z', '2015-04-01T00:00:00Z', '2015-05-01T00:00:00Z', '2015-06-01T00:00:00Z', '2015-07-01T00:00:00Z', '2015-08-01T00:00:00Z', '2015-09-01T00:00:00Z', '2015-10-01T00:00:00Z', '2015-11-01T00:00:00Z', '2015-12-01T00:00:00Z']
end_list = ['2015-01-31T00:00:00Z', '2015-02-28T00:00:00Z', '2015-03-31T00:00:00Z', '2015-04-30T00:00:00Z', '2015-05-31T00:00:00Z', '2015-06-30T00:00:00Z', '2015-07-31T00:00:00Z', '2015-08-30T00:00:00Z', '2015-09-30T00:00:00Z', '2015-10-31T00:00:00Z', '2015-11-30T00:00:00Z', '2015-12-31T00:00:00Z']
month = ['1-2015', '2-2015', '3-2015', '4-2015', '5-2015', '6-2015', '7-2015', '8-2015', '9-2015', '10-2015', '11-2015', '12-2015']

for i in range(0, len(start_list)): 
    
    count = 0 
    max_count = 500
    flag = True
    next_token = None
    while flag:
            if count >= max_count: 
                break 
            print("--------------------------")
            print("Token: ", next_token)
            query_params = {'query':'(bitcoin OR #bitcoin) -is:nullcast ',
                    'start_time': start_list[i],
                    'end_time': end_list[i],
                    'granularity':'day',
                    'next_token' : {}}
            json_response = connect_to_endpoint(count_url, query_params)
            result_count = json_response['meta']['total_tweet_count']

            if 'next_token' in json_response['meta']:

                # Save the token to use for next call

                next_token = json_response['meta']['next_token']

                print("Next Token: ", next_token)
                if result_count is not None and result_count > 0 and next_token is not None:
                    print("Start Date: ", start_list[i])
                    final_results_json[(month[i])] = json_response['meta']['total_tweet_count']
                    count += result_count
                    total_tweets += result_count
                    print("Total # of Tweets added: ", total_tweets)
                    print("-------------------")

            else:
                if result_count is not None and result_count > 0:
                    print("-------------------")
                    print("Start Date: ", start_list[i])
                    final_results_json[(month[i])] = json_response['meta']['total_tweet_count']
                    count += result_count
                    total_tweets += result_count
                    print("Total # of Tweets added: ", total_tweets)
                    print("-------------------")
                    time.sleep(5)

                flag = False
                next_token = None 



            time.sleep(5)
            print("Total number of results: ", total_tweets)  
    
#COUNT FOR 2016
start_list = ['2016-01-01T00:00:00Z', '2016-02-01T00:00:00Z', '2016-03-01T00:00:00Z', '2016-04-01T00:00:00Z', '2016-05-01T00:00:00Z', '2016-06-01T00:00:00Z', '2016-07-01T00:00:00Z', '2016-08-01T00:00:00Z', '2016-09-01T00:00:00Z', '2016-10-01T00:00:00Z', '2016-11-01T00:00:00Z', '2016-12-01T00:00:00Z']
end_list = ['2016-01-31T00:00:00Z', '2016-02-28T00:00:00Z', '2016-03-31T00:00:00Z', '2016-04-30T00:00:00Z', '2016-05-31T00:00:00Z', '2016-06-30T00:00:00Z', '2016-07-31T00:00:00Z', '2016-08-30T00:00:00Z', '2016-09-30T00:00:00Z', '2016-10-31T00:00:00Z', '2016-11-30T00:00:00Z', '2016-12-31T00:00:00Z']
month = ['1-2016', '2-2016', '3-2016', '4-2016', '5-2016', '6-2016', '7-2016', '8-2016', '9-2016', '10-2016', '11-2016', '12-2016']

for i in range(0, len(start_list)): 
    
    count = 0 
    max_count = 500
    flag = True
    next_token = None
    while flag:
            if count >= max_count: 
                break 
            print("--------------------------")
            print("Token: ", next_token)
            query_params = {'query':'(bitcoin OR #bitcoin) -is:nullcast ',
                    'start_time': start_list[i],
                    'end_time': end_list[i],
                    'granularity':'day',
                    'next_token' : {}}
            json_response = connect_to_endpoint(count_url, query_params)
            result_count = json_response['meta']['total_tweet_count']

            if 'next_token' in json_response['meta']:

                # Save the token to use for next call

                next_token = json_response['meta']['next_token']

                print("Next Token: ", next_token)
                if result_count is not None and result_count > 0 and next_token is not None:
                    print("Start Date: ", start_list[i])
                    final_results_json[(month[i])] = json_response['meta']['total_tweet_count']
                    count += result_count
                    total_tweets += result_count
                    print("Total # of Tweets added: ", total_tweets)
                    print("-------------------")

            else:
                if result_count is not None and result_count > 0:
                    print("-------------------")
                    print("Start Date: ", start_list[i])
                    final_results_json[(month[i])] = json_response['meta']['total_tweet_count']
                    count += result_count
                    total_tweets += result_count
                    print("Total # of Tweets added: ", total_tweets)
                    print("-------------------")
                    time.sleep(5)

                flag = False
                next_token = None 



            time.sleep(5)
            print("Total number of results: ", total_tweets)  
    
#COUNT FOR 2017
start_list = ['2017-01-01T00:00:00Z', '2017-02-01T00:00:00Z', '2017-03-01T00:00:00Z', '2017-04-01T00:00:00Z', '2017-05-01T00:00:00Z', '2017-06-01T00:00:00Z', '2017-07-01T00:00:00Z', '2017-08-01T00:00:00Z', '2017-09-01T00:00:00Z', '2017-10-01T00:00:00Z', '2017-11-01T00:00:00Z', '2017-12-01T00:00:00Z']
end_list = ['2017-01-31T00:00:00Z', '2017-02-28T00:00:00Z', '2017-03-31T00:00:00Z', '2017-04-30T00:00:00Z', '2017-05-31T00:00:00Z', '2017-06-30T00:00:00Z', '2017-07-31T00:00:00Z', '2017-08-30T00:00:00Z', '2017-09-30T00:00:00Z', '2017-10-31T00:00:00Z', '2017-11-30T00:00:00Z', '2017-12-31T00:00:00Z']
month = ['1-2017', '2-2017', '3-2017', '4-2017', '5-2017', '6-2017', '7-2017', '8-2017', '9-2017', '10-2017', '11-2017', '12-2017']

for i in range(0, len(start_list)): 
    
    count = 0 
    max_count = 500
    flag = True
    next_token = None
    while flag:
            if count >= max_count: 
                break 
            print("--------------------------")
            print("Token: ", next_token)
            query_params = {'query':'(bitcoin OR #bitcoin) -is:nullcast ',
                    'start_time': start_list[i],
                    'end_time': end_list[i],
                    'granularity':'day',
                    'next_token' : {}}
            json_response = connect_to_endpoint(count_url, query_params)
            result_count = json_response['meta']['total_tweet_count']

            if 'next_token' in json_response['meta']:

                # Save the token to use for next call

                next_token = json_response['meta']['next_token']

                print("Next Token: ", next_token)
                if result_count is not None and result_count > 0 and next_token is not None:
                    print("Start Date: ", start_list[i])
                    final_results_json[(month[i])] = json_response['meta']['total_tweet_count']
                    count += result_count
                    total_tweets += result_count
                    print("Total # of Tweets added: ", total_tweets)
                    print("-------------------")

            else:
                if result_count is not None and result_count > 0:
                    print("-------------------")
                    print("Start Date: ", start_list[i])
                    final_results_json[(month[i])] = json_response['meta']['total_tweet_count']
                    count += result_count
                    total_tweets += result_count
                    print("Total # of Tweets added: ", total_tweets)
                    print("-------------------")
                    time.sleep(5)

                flag = False
                next_token = None 



            time.sleep(5)
            print("Total number of results: ", total_tweets)  

#COUNT FOR 2018
start_list = ['2018-01-01T00:00:00Z', '2018-02-01T00:00:00Z', '2018-03-01T00:00:00Z', '2018-04-01T00:00:00Z', '2018-05-01T00:00:00Z', '2018-06-01T00:00:00Z', '2018-07-01T00:00:00Z', '2018-08-01T00:00:00Z', '2018-09-01T00:00:00Z', '2018-10-01T00:00:00Z', '2018-11-01T00:00:00Z', '2018-12-01T00:00:00Z']
end_list = ['2018-01-31T00:00:00Z', '2018-02-28T00:00:00Z', '2018-03-31T00:00:00Z', '2018-04-30T00:00:00Z', '2018-05-31T00:00:00Z', '2018-06-30T00:00:00Z', '2018-07-31T00:00:00Z', '2018-08-30T00:00:00Z', '2018-09-30T00:00:00Z', '2018-10-31T00:00:00Z', '2018-11-30T00:00:00Z', '2018-12-31T00:00:00Z']
month = ['1-2018', '2-2018', '3-2018', '4-2018', '5-2018', '6-2018', '7-2018', '8-2018', '9-2018', '10-2018', '11-2018', '12-2018']

for i in range(0, len(start_list)): 
    
    count = 0 
    max_count = 500
    flag = True
    next_token = None
    while flag:
            if count >= max_count: 
                break 
            print("--------------------------")
            print("Token: ", next_token)
            query_params = {'query':'(bitcoin OR #bitcoin) -is:nullcast ',
                    'start_time': start_list[i],
                    'end_time': end_list[i],
                    'granularity':'day',
                    'next_token' : {}}
            json_response = connect_to_endpoint(count_url, query_params)
            result_count = json_response['meta']['total_tweet_count']

            if 'next_token' in json_response['meta']:

                # Save the token to use for next call

                next_token = json_response['meta']['next_token']

                print("Next Token: ", next_token)
                if result_count is not None and result_count > 0 and next_token is not None:
                    print("Start Date: ", start_list[i])
                    final_results_json[(month[i])] = json_response['meta']['total_tweet_count']
                    count += result_count
                    total_tweets += result_count
                    print("Total # of Tweets added: ", total_tweets)
                    print("-------------------")

            else:
                if result_count is not None and result_count > 0:
                    print("-------------------")
                    print("Start Date: ", start_list[i])
                    final_results_json[(month[i])] = json_response['meta']['total_tweet_count']
                    count += result_count
                    total_tweets += result_count
                    print("Total # of Tweets added: ", total_tweets)
                    print("-------------------")
                    time.sleep(5)

                flag = False
                next_token = None 



            time.sleep(5)
            print("Total number of results: ", total_tweets)  
    
    
#COUNT FOR 2019 
start_list = ['2019-01-01T00:00:00Z', '2019-02-01T00:00:00Z', '2019-03-01T00:00:00Z', '2019-04-01T00:00:00Z', '2019-05-01T00:00:00Z', '2019-06-01T00:00:00Z', '2019-07-01T00:00:00Z', '2019-08-01T00:00:00Z', '2019-09-01T00:00:00Z', '2019-10-01T00:00:00Z', '2019-11-01T00:00:00Z', '2019-12-01T00:00:00Z']
end_list = ['2019-01-31T00:00:00Z', '2019-02-28T00:00:00Z', '2019-03-31T00:00:00Z', '2019-04-30T00:00:00Z', '2019-05-31T00:00:00Z', '2019-06-30T00:00:00Z', '2019-07-31T00:00:00Z', '2019-08-30T00:00:00Z', '2019-09-30T00:00:00Z', '2019-10-31T00:00:00Z', '2019-11-30T00:00:00Z', '2019-12-31T00:00:00Z']
month = ['1-2019', '2-2019', '3-2019', '4-2019', '5-2019', '6-2019', '7-2019', '8-2019', '9-2019', '10-2019', '11-2019', '12-2019']

for i in range(0, len(start_list)): 
    
    count = 0 
    max_count = 500
    flag = True
    next_token = None
    while flag:
            if count >= max_count: 
                break 
            print("--------------------------")
            print("Token: ", next_token)
            query_params = {'query':'(bitcoin OR #bitcoin) -is:nullcast ',
                    'start_time': start_list[i],
                    'end_time': end_list[i],
                    'granularity':'day',
                    'next_token' : {}}
            json_response = connect_to_endpoint(count_url, query_params)
            result_count = json_response['meta']['total_tweet_count']

            if 'next_token' in json_response['meta']:

                # Save the token to use for next call

                next_token = json_response['meta']['next_token']

                print("Next Token: ", next_token)
                if result_count is not None and result_count > 0 and next_token is not None:
                    print("Start Date: ", start_list[i])
                    final_results_json[(month[i])] = json_response['meta']['total_tweet_count']
                    count += result_count
                    total_tweets += result_count
                    print("Total # of Tweets added: ", total_tweets)
                    print("-------------------")

            else:
                if result_count is not None and result_count > 0:
                    print("-------------------")
                    print("Start Date: ", start_list[i])
                    final_results_json[(month[i])] = json_response['meta']['total_tweet_count']
                    count += result_count
                    total_tweets += result_count
                    print("Total # of Tweets added: ", total_tweets)
                    print("-------------------")
                    time.sleep(5)

                flag = False
                next_token = None 



            time.sleep(5)
            print("Total number of results: ", total_tweets)  
        
#COUNT FOR 2019 
start_list = ['2019-01-01T00:00:00Z', '2019-02-01T00:00:00Z', '2019-03-01T00:00:00Z', '2019-04-01T00:00:00Z', '2019-05-01T00:00:00Z', '2019-06-01T00:00:00Z', '2019-07-01T00:00:00Z', '2019-08-01T00:00:00Z', '2019-09-01T00:00:00Z', '2019-10-01T00:00:00Z', '2019-11-01T00:00:00Z', '2019-12-01T00:00:00Z']
end_list = ['2019-01-31T00:00:00Z', '2019-02-28T00:00:00Z', '2019-03-31T00:00:00Z', '2019-04-30T00:00:00Z', '2019-05-31T00:00:00Z', '2019-06-30T00:00:00Z', '2019-07-31T00:00:00Z', '2019-08-30T00:00:00Z', '2019-09-30T00:00:00Z', '2019-10-31T00:00:00Z', '2019-11-30T00:00:00Z', '2019-12-31T00:00:00Z']
month = ['1-2019', '2-2019', '3-2021', '4-2019', '5-2019', '6-2019', '7-2019', '8-2019', '9-2019', '10-2019', '11-2019', '12-2019']

for i in range(0, len(start_list)): 
    
    count = 0 
    max_count = 500
    flag = True
    next_token = None
    while flag:
            if count >= max_count: 
                break 
            print("--------------------------")
            print("Token: ", next_token)
            query_params = {'query':'(bitcoin OR #bitcoin) -is:nullcast ',
                    'start_time': start_list[i],
                    'end_time': end_list[i],
                    'granularity':'day',
                    'next_token' : {}}
            json_response = connect_to_endpoint(count_url, query_params)
            result_count = json_response['meta']['total_tweet_count']

            if 'next_token' in json_response['meta']:

                # Save the token to use for next call

                next_token = json_response['meta']['next_token']

                print("Next Token: ", next_token)
                if result_count is not None and result_count > 0 and next_token is not None:
                    print("Start Date: ", start_list[i])
                    final_results_json[(month[i])] = json_response['meta']['total_tweet_count']
                    count += result_count
                    total_tweets += result_count
                    print("Total # of Tweets added: ", total_tweets)
                    print("-------------------")

            else:
                if result_count is not None and result_count > 0:
                    print("-------------------")
                    print("Start Date: ", start_list[i])
                    final_results_json[(month[i])] = json_response['meta']['total_tweet_count']
                    count += result_count
                    total_tweets += result_count
                    print("Total # of Tweets added: ", total_tweets)
                    print("-------------------")
                    time.sleep(5)

                flag = False
                next_token = None 



            time.sleep(5)
            print("Total number of results: ", total_tweets)  

#COUNT FOR 2020
start_list = ['2020-01-01T00:00:00Z', '2020-02-01T00:00:00Z', '2020-03-01T00:00:00Z', '2020-04-01T00:00:00Z', '2020-05-01T00:00:00Z', '2020-06-01T00:00:00Z', '2020-07-01T00:00:00Z', '2020-08-01T00:00:00Z', '2020-09-01T00:00:00Z', '2020-10-01T00:00:00Z', '2020-11-01T00:00:00Z', '2020-12-01T00:00:00Z']
end_list = ['2020-01-31T00:00:00Z', '2020-02-28T00:00:00Z', '2020-03-31T00:00:00Z', '2020-04-30T00:00:00Z', '2020-05-31T00:00:00Z', '2020-06-30T00:00:00Z', '2020-07-31T00:00:00Z', '2020-08-30T00:00:00Z', '2020-09-30T00:00:00Z', '2020-10-31T00:00:00Z', '2020-11-30T00:00:00Z', '2020-12-31T00:00:00Z']
month = ['1-2020', '2-2020', '3-2020', '4-2020', '5-2020', '6-2020', '7-2020', '8-2020', '9-2020', '10-2020', '11-2020', '12-2020']

for i in range(0, len(start_list)): 
    
    count = 0 
    max_count = 500
    flag = True
    next_token = None
    while flag:
            if count >= max_count: 
                break 
            print("--------------------------")
            print("Token: ", next_token)
            query_params = {'query':'(bitcoin OR #bitcoin) -is:nullcast ',
                    'start_time': start_list[i],
                    'end_time': end_list[i],
                    'granularity':'day',
                    'next_token' : {}}
            json_response = connect_to_endpoint(count_url, query_params)
            result_count = json_response['meta']['total_tweet_count']

            if 'next_token' in json_response['meta']:

                # Save the token to use for next call

                next_token = json_response['meta']['next_token']

                print("Next Token: ", next_token)
                if result_count is not None and result_count > 0 and next_token is not None:
                    print("Start Date: ", start_list[i])
                    final_results_json[(month[i])] = json_response['meta']['total_tweet_count']
                    count += result_count
                    total_tweets += result_count
                    print("Total # of Tweets added: ", total_tweets)
                    print("-------------------")

            else:
                if result_count is not None and result_count > 0:
                    print("-------------------")
                    print("Start Date: ", start_list[i])
                    final_results_json[(month[i])] = json_response['meta']['total_tweet_count']
                    count += result_count
                    total_tweets += result_count
                    print("Total # of Tweets added: ", total_tweets)
                    print("-------------------")
                    time.sleep(5)

                flag = False
                next_token = None 



            time.sleep(5)
            print("Total number of results: ", total_tweets)  

#COUNT FOR 2021
start_list = ['2021-01-01T00:00:00Z', '2021-02-01T00:00:00Z', '2021-03-01T00:00:00Z', '2021-04-01T00:00:00Z', '2021-05-01T00:00:00Z', '2021-06-01T00:00:00Z', '2021-07-01T00:00:00Z', '2021-08-01T00:00:00Z', '2021-09-01T00:00:00Z', '2021-10-01T00:00:00Z', '2021-11-01T00:00:00Z', '2021-12-01T00:00:00Z']
end_list = ['2021-01-31T00:00:00Z', '2021-02-28T00:00:00Z', '2021-03-31T00:00:00Z', '2021-04-30T00:00:00Z', '2021-05-31T00:00:00Z', '2021-06-30T00:00:00Z', '2021-07-31T00:00:00Z', '2021-08-30T00:00:00Z', '2021-09-30T00:00:00Z', '2021-10-31T00:00:00Z', '2021-11-30T00:00:00Z', '2021-12-31T00:00:00Z']
month = ['1-2021', '2-2021', '3-2021', '4-2021', '5-2021', '6-2021', '7-2021', '8-2021', '9-2021', '10-2021', '11-2021', '12-2021']

for i in range(0, len(start_list)): 
    
    count = 0 
    max_count = 500
    flag = True
    next_token = None
    while flag:
            if count >= max_count: 
                break 
            print("--------------------------")
            print("Token: ", next_token)
            query_params = {'query':'(bitcoin OR #bitcoin) -is:nullcast ',
                    'start_time': start_list[i],
                    'end_time': end_list[i],
                    'granularity':'day',
                    'next_token' : {}}
            json_response = connect_to_endpoint(count_url, query_params)
            result_count = json_response['meta']['total_tweet_count']

            if 'next_token' in json_response['meta']:

                # Save the token to use for next call

                next_token = json_response['meta']['next_token']

                print("Next Token: ", next_token)
                if result_count is not None and result_count > 0 and next_token is not None:
                    print("Start Date: ", start_list[i])
                    final_results_json[(month[i])] = json_response['meta']['total_tweet_count']
                    count += result_count
                    total_tweets += result_count
                    print("Total # of Tweets added: ", total_tweets)
                    print("-------------------")

            else:
                if result_count is not None and result_count > 0:
                    print("-------------------")
                    print("Start Date: ", start_list[i])
                    count += result_count
                    total_tweets += result_count
                    print("Total # of Tweets added: ", total_tweets)
                    print("-------------------")
                    time.sleep(5)

                flag = False
                next_token = None 



            time.sleep(5)
            print("Total number of results: ", total_tweets) 
            final_results_json[(month[i])] = json_response['meta']['total_tweet_count']

with open('Total_TweetCountFinal.json', 'w') as fp:
    json.dump(final_results_json, fp)

--------------------------
Token:  None
-------------------
Start Date:  2014-01-01T00:00:00Z
Total # of Tweets added:  729339
-------------------
Total number of results:  729339
--------------------------
Token:  None
-------------------
Start Date:  2014-02-01T00:00:00Z
Total # of Tweets added:  770040
-------------------
Total number of results:  770040
--------------------------
Token:  None
-------------------
Start Date:  2014-03-01T00:00:00Z
Total # of Tweets added:  937782
-------------------
Total number of results:  937782
--------------------------
Token:  None
-------------------
Start Date:  2014-04-01T00:00:00Z
Total # of Tweets added:  555116
-------------------
Total number of results:  555116
--------------------------
Token:  None
-------------------
Start Date:  2014-05-01T00:00:00Z
Total # of Tweets added:  589276
-------------------
Total number of results:  589276
--------------------------
Token:  None
-------------------
Start Date:  2014-06-01T00:00:00Z
Total # of Tweets added:  562205
-------------------
Total number of results:  562205
--------------------------
Token:  None
-------------------
Start Date:  2014-07-01T00:00:00Z
Total # of Tweets added:  617911
-------------------
Total number of results:  617911
--------------------------
Token:  None
-------------------
Start Date:  2014-08-01T00:00:00Z
Total # of Tweets added:  564476
-------------------
Total number of results:  564476
--------------------------
Token:  None
-------------------
Start Date:  2014-09-01T00:00:00Z
Total # of Tweets added:  636992
-------------------
Total number of results:  636992
--------------------------
Token:  None
-------------------
Start Date:  2014-10-01T00:00:00Z
Total # of Tweets added:  624272
-------------------
Total number of results:  624272
--------------------------
Token:  None
-------------------
Start Date:  2014-11-01T00:00:00Z
Total # of Tweets added:  571380
-------------------
Total number of results:  571380
--------------------------
Token:  None
-------------------
Start Date:  2014-12-01T00:00:00Z
Total # of Tweets added:  605063
-------------------
Total number of results:  605063
--------------------------
Token:  None
-------------------
Start Date:  2015-01-01T00:00:00Z
Total # of Tweets added:  1315497
-------------------
Total number of results:  1315497
--------------------------
Token:  None
-------------------
Start Date:  2015-02-01T00:00:00Z
Total # of Tweets added:  1937497
-------------------
Total number of results:  1937497
--------------------------
Token:  None
-------------------
Start Date:  2015-03-01T00:00:00Z
Total # of Tweets added:  2686071
-------------------
Total number of results:  2686071
--------------------------
Token:  None
-------------------
Start Date:  2015-04-01T00:00:00Z
Total # of Tweets added:  3438289
-------------------
Total number of results:  3438289
--------------------------
Token:  None
-------------------
Start Date:  2015-05-01T00:00:00Z
Total # of Tweets added:  4117506
-------------------
Total number of results:  4117506
--------------------------
Token:  None
-------------------
Start Date:  2015-06-01T00:00:00Z
Total # of Tweets added:  4799787
-------------------
Total number of results:  4799787
--------------------------
Token:  None
-------------------
Start Date:  2015-07-01T00:00:00Z
Total # of Tweets added:  5533881
-------------------
Total number of results:  5533881
--------------------------
Token:  None
-------------------
Start Date:  2015-08-01T00:00:00Z
Total # of Tweets added:  6265227
-------------------
Total number of results:  6265227
--------------------------
Token:  None
-------------------
Start Date:  2015-09-01T00:00:00Z
Total # of Tweets added:  7051604
-------------------
Total number of results:  7051604
--------------------------
Token:  None
-------------------
Start Date:  2015-10-01T00:00:00Z
Total # of Tweets added:  7764906
-------------------
Total number of results:  7764906
--------------------------
Token:  None
-------------------
Start Date:  2015-11-01T00:00:00Z
Total # of Tweets added:  8584752
-------------------
Total number of results:  8584752
--------------------------
Token:  None
-------------------
Start Date:  2015-12-01T00:00:00Z
Total # of Tweets added:  9332600
-------------------
Total number of results:  9332600
--------------------------
Token:  None
-------------------
Start Date:  2016-01-01T00:00:00Z
Total # of Tweets added:  10108014
-------------------
Total number of results:  10108014
--------------------------
Token:  None
-------------------
Start Date:  2016-02-01T00:00:00Z
Total # of Tweets added:  10848194
-------------------
Total number of results:  10848194
--------------------------
Token:  None
-------------------
Start Date:  2016-03-01T00:00:00Z
Total # of Tweets added:  11670529
-------------------
Total number of results:  11670529
--------------------------
Token:  None
-------------------
Start Date:  2016-04-01T00:00:00Z
Total # of Tweets added:  12383946
-------------------
Total number of results:  12383946
--------------------------
Token:  None
-------------------
Start Date:  2016-05-01T00:00:00Z
Total # of Tweets added:  13229104
-------------------
Total number of results:  13229104
--------------------------
Token:  None
-------------------
Start Date:  2016-06-01T00:00:00Z
Total # of Tweets added:  14111603
-------------------
Total number of results:  14111603
--------------------------
Token:  None
-------------------
Start Date:  2016-07-01T00:00:00Z
Total # of Tweets added:  14841882
-------------------
Total number of results:  14841882
--------------------------
Token:  None
-------------------
Start Date:  2016-08-01T00:00:00Z
Total # of Tweets added:  15524740
-------------------
Total number of results:  15524740
--------------------------
Token:  None
-------------------
Start Date:  2016-09-01T00:00:00Z
Total # of Tweets added:  16129800
-------------------
Total number of results:  16129800
--------------------------
Token:  None
-------------------
Start Date:  2016-10-01T00:00:00Z
Total # of Tweets added:  16702464
-------------------
Total number of results:  16702464
--------------------------
Token:  None
-------------------
Start Date:  2016-11-01T00:00:00Z
Total # of Tweets added:  17285758
-------------------
Total number of results:  17285758
--------------------------
Token:  None
-------------------
Start Date:  2016-12-01T00:00:00Z
Total # of Tweets added:  17967860
-------------------
Total number of results:  17967860
--------------------------
Token:  None
-------------------
Start Date:  2017-01-01T00:00:00Z
Total # of Tweets added:  18785637
-------------------
Total number of results:  18785637
--------------------------
Token:  None
-------------------
Start Date:  2017-02-01T00:00:00Z
Total # of Tweets added:  19485162
-------------------
Total number of results:  19485162
--------------------------
Token:  None
-------------------
Start Date:  2017-03-01T00:00:00Z
Total # of Tweets added:  20400453
-------------------
Total number of results:  20400453
--------------------------
Token:  None
-------------------
Start Date:  2017-04-01T00:00:00Z
Total # of Tweets added:  21133265
-------------------
Total number of results:  21133265
--------------------------
Token:  None
-------------------
Start Date:  2017-05-01T00:00:00Z
Total # of Tweets added:  22248405
-------------------
Total number of results:  22248405
--------------------------
Token:  None
-------------------
Start Date:  2017-06-01T00:00:00Z
Total # of Tweets added:  23301367
-------------------
Total number of results:  23301367
--------------------------
Token:  None
-------------------
Start Date:  2017-07-01T00:00:00Z
Total # of Tweets added:  24453077
-------------------
Total number of results:  24453077
--------------------------
Token:  None
-------------------
Start Date:  2017-08-01T00:00:00Z
Total # of Tweets added:  25917994
-------------------
Total number of results:  25917994
--------------------------
Token:  None
-------------------
Start Date:  2017-09-01T00:00:00Z
Total # of Tweets added:  27669026
-------------------
Total number of results:  27669026
--------------------------
Token:  None
-------------------
Start Date:  2017-10-01T00:00:00Z
Total # of Tweets added:  29592020
-------------------
Total number of results:  29592020
--------------------------
Token:  None
-------------------
Start Date:  2017-11-01T00:00:00Z
Total # of Tweets added:  32264672
-------------------
Total number of results:  32264672
--------------------------
Token:  None
-------------------
Start Date:  2017-12-01T00:00:00Z
Total # of Tweets added:  37023446
-------------------
Total number of results:  37023446
--------------------------
Token:  None
-------------------
Start Date:  2018-01-01T00:00:00Z
Total # of Tweets added:  40714377
-------------------
Total number of results:  40714377
--------------------------
Token:  None
-------------------
Start Date:  2018-02-01T00:00:00Z
Total # of Tweets added:  43588950
-------------------
Total number of results:  43588950
--------------------------
Token:  None
-------------------
Start Date:  2018-03-01T00:00:00Z
Total # of Tweets added:  46200638
-------------------
Total number of results:  46200638
--------------------------
Token:  None
-------------------
Start Date:  2018-04-01T00:00:00Z
Total # of Tweets added:  48444994
-------------------
Total number of results:  48444994
--------------------------
Token:  None
-------------------
Start Date:  2018-05-01T00:00:00Z
Total # of Tweets added:  50589033
-------------------
Total number of results:  50589033
--------------------------
Token:  None
-------------------
Start Date:  2018-06-01T00:00:00Z
Total # of Tweets added:  52383443
-------------------
Total number of results:  52383443
--------------------------
Token:  None
-------------------
Start Date:  2018-07-01T00:00:00Z
Total # of Tweets added:  54114302
-------------------
Total number of results:  54114302
--------------------------
Token:  None
-------------------
Start Date:  2018-08-01T00:00:00Z
Total # of Tweets added:  55707754
-------------------
Total number of results:  55707754
--------------------------
Token:  None
-------------------
Start Date:  2018-09-01T00:00:00Z
Total # of Tweets added:  57120342
-------------------
Total number of results:  57120342
--------------------------
Token:  None
-------------------
Start Date:  2018-10-01T00:00:00Z
Total # of Tweets added:  58493839
-------------------
Total number of results:  58493839
--------------------------
Token:  None
-------------------
Start Date:  2018-11-01T00:00:00Z
Total # of Tweets added:  59979018
-------------------
Total number of results:  59979018
--------------------------
Token:  None
-------------------
Start Date:  2018-12-01T00:00:00Z
Total # of Tweets added:  61277544
-------------------
Total number of results:  61277544
--------------------------
Token:  None
-------------------
Start Date:  2019-01-01T00:00:00Z
Total # of Tweets added:  62498104
-------------------
Total number of results:  62498104
--------------------------
Token:  None
-------------------
Start Date:  2019-02-01T00:00:00Z
Total # of Tweets added:  63601454
-------------------
Total number of results:  63601454
--------------------------
Token:  None
-------------------
Start Date:  2019-03-01T00:00:00Z
Total # of Tweets added:  64742928
-------------------
Total number of results:  64742928
--------------------------
Token:  None
-------------------
Start Date:  2019-04-01T00:00:00Z
Total # of Tweets added:  65997839
-------------------
Total number of results:  65997839
--------------------------
Token:  None
-------------------
Start Date:  2019-05-01T00:00:00Z
Total # of Tweets added:  67572651
-------------------
Total number of results:  67572651
--------------------------
Token:  None
-------------------
Start Date:  2019-06-01T00:00:00Z
Total # of Tweets added:  69031366
-------------------
Total number of results:  69031366
--------------------------
Token:  None
-------------------
Start Date:  2019-07-01T00:00:00Z
Total # of Tweets added:  70565829
-------------------
Total number of results:  70565829
--------------------------
Token:  None
-------------------
Start Date:  2019-08-01T00:00:00Z
Total # of Tweets added:  71833154
-------------------
Total number of results:  71833154
--------------------------
Token:  None
-------------------
Start Date:  2019-09-01T00:00:00Z
Total # of Tweets added:  73025499
-------------------
Total number of results:  73025499
--------------------------
Token:  None
-------------------
Start Date:  2019-10-01T00:00:00Z
Total # of Tweets added:  74234630
-------------------
Total number of results:  74234630
--------------------------
Token:  None
-------------------
Start Date:  2019-11-01T00:00:00Z
Total # of Tweets added:  75422132
-------------------
Total number of results:  75422132
--------------------------
Token:  None
-------------------
Start Date:  2019-12-01T00:00:00Z
Total # of Tweets added:  76587765
-------------------
Total number of results:  76587765
--------------------------
Token:  None
-------------------
Start Date:  2019-01-01T00:00:00Z
Total # of Tweets added:  77808311
-------------------
Total number of results:  77808311
--------------------------
Token:  None
-------------------
Start Date:  2019-02-01T00:00:00Z
Total # of Tweets added:  78911598
-------------------
Total number of results:  78911598
--------------------------
Token:  None
-------------------
Start Date:  2019-03-01T00:00:00Z
Total # of Tweets added:  80053071
-------------------
Total number of results:  80053071
--------------------------
Token:  None
-------------------
Start Date:  2019-04-01T00:00:00Z
Total # of Tweets added:  81307979
-------------------
Total number of results:  81307979
--------------------------
Token:  None
-------------------
Start Date:  2019-05-01T00:00:00Z
Total # of Tweets added:  82882792
-------------------
Total number of results:  82882792
--------------------------
Token:  None
-------------------
Start Date:  2019-06-01T00:00:00Z
Total # of Tweets added:  84341522
-------------------
Total number of results:  84341522
--------------------------
Token:  None
-------------------
Start Date:  2019-07-01T00:00:00Z
Total # of Tweets added:  85875987
-------------------
Total number of results:  85875987
--------------------------
Token:  None
-------------------
Start Date:  2019-08-01T00:00:00Z
Total # of Tweets added:  87143317
-------------------
Total number of results:  87143317
--------------------------
Token:  None
-------------------
Start Date:  2019-09-01T00:00:00Z
Total # of Tweets added:  88335741
-------------------
Total number of results:  88335741
--------------------------
Token:  None
-------------------
Start Date:  2019-10-01T00:00:00Z
Total # of Tweets added:  89544886
-------------------
Total number of results:  89544886
--------------------------
Token:  None
-------------------
Start Date:  2019-11-01T00:00:00Z
Total # of Tweets added:  90732386
-------------------
Total number of results:  90732386
--------------------------
Token:  None
-------------------
Start Date:  2019-12-01T00:00:00Z
Total # of Tweets added:  91898021
-------------------
Total number of results:  91898021
--------------------------
Token:  None
-------------------
Start Date:  2020-01-01T00:00:00Z
Total # of Tweets added:  93187793
-------------------
Total number of results:  93187793
--------------------------
Token:  None
-------------------
Start Date:  2020-02-01T00:00:00Z
Total # of Tweets added:  94557534
-------------------
Total number of results:  94557534
--------------------------
Token:  None
-------------------
Start Date:  2020-03-01T00:00:00Z
Total # of Tweets added:  96099193
-------------------
Total number of results:  96099193
--------------------------
Token:  None
-------------------
Start Date:  2020-04-01T00:00:00Z
Total # of Tweets added:  97621870
-------------------
Total number of results:  97621870
--------------------------
Token:  None
-------------------
Start Date:  2020-05-01T00:00:00Z
Total # of Tweets added:  99631386
-------------------
Total number of results:  99631386
--------------------------
Token:  None
-------------------
Start Date:  2020-06-01T00:00:00Z
Total # of Tweets added:  101177934
-------------------
Total number of results:  101177934
--------------------------
Token:  None
-------------------
Start Date:  2020-07-01T00:00:00Z
Total # of Tweets added:  103142036
-------------------
Total number of results:  103142036
--------------------------
Token:  None
-------------------
Start Date:  2020-08-01T00:00:00Z
Total # of Tweets added:  105022502
-------------------
Total number of results:  105022502
--------------------------
Token:  None
-------------------
Start Date:  2020-09-01T00:00:00Z
Total # of Tweets added:  106693029
-------------------
Total number of results:  106693029
--------------------------
Token:  None
-------------------
Start Date:  2020-10-01T00:00:00Z
Total # of Tweets added:  109114539
-------------------
Total number of results:  109114539
--------------------------
Token:  None
-------------------
Start Date:  2020-11-01T00:00:00Z
Total # of Tweets added:  111664493
-------------------
Total number of results:  111664493
--------------------------
Token:  None
-------------------
Start Date:  2020-12-01T00:00:00Z
Total # of Tweets added:  114933084
-------------------
Total number of results:  114933084
--------------------------
Token:  None
-------------------
Start Date:  2021-01-01T00:00:00Z
Total # of Tweets added:  120427888
-------------------
Total number of results:  120427888
--------------------------
Token:  None
-------------------
Start Date:  2021-02-01T00:00:00Z
Total # of Tweets added:  127708637
-------------------
Total number of results:  127708637
--------------------------
Token:  None
-------------------
Start Date:  2021-03-01T00:00:00Z
Total # of Tweets added:  134211422
-------------------
Total number of results:  134211422
--------------------------
Token:  None
-------------------
Start Date:  2021-04-01T00:00:00Z
Total # of Tweets added:  140704596
-------------------
Total number of results:  140704596
--------------------------
Token:  None
-------------------
Start Date:  2021-05-01T00:00:00Z
Total # of Tweets added:  149493141
-------------------
Total number of results:  149493141
--------------------------
Token:  None
-------------------
Start Date:  2021-06-01T00:00:00Z
Total # of Tweets added:  158668058
-------------------
Total number of results:  158668058
--------------------------
Token:  None
-------------------
Start Date:  2021-07-01T00:00:00Z
Total # of Tweets added:  165575131
-------------------
Total number of results:  165575131
--------------------------
Token:  None
-------------------
Start Date:  2021-08-01T00:00:00Z
Total # of Tweets added:  172587902
-------------------
Total number of results:  172587902
--------------------------
Token:  None
-------------------
Start Date:  2021-09-01T00:00:00Z
Total # of Tweets added:  180895126
-------------------
Total number of results:  180895126
--------------------------
Token:  None
-------------------
Start Date:  2021-10-01T00:00:00Z
Total # of Tweets added:  190113224
-------------------
Total number of results:  190113224
--------------------------
Token:  None
-------------------
Start Date:  2021-11-01T00:00:00Z
Total # of Tweets added:  199683893
-------------------
Total number of results:  199683893
--------------------------
Token:  None
-------------------
Start Date:  2021-12-01T00:00:00Z
Total # of Tweets added:  210139557
-------------------
Total number of results:  210139557

In [73]:
#Import Market Cap Data

data_dir = os.environ['DATA_DIR'] 
bitcoin_marketcap_csv = os.path.join(data_dir, 'BitcoinMarketCap.csv')
bitcoin_marketcap_df = pd.read_csv(bitcoin_marketcap_csv)
bitcoin_marketcap_df = bitcoin_marketcap_df.drop(bitcoin_marketcap_df.index[0:11])
bitcoin_marketcap_df['datetime'] = pd.to_datetime(bitcoin_marketcap_df['MonthYear'])
bitcoin_marketcap_df = bitcoin_marketcap_df.reset_index(drop=True)

In [74]:
bitcoin_marketcap_df

   MonthYear market cap   datetime
0   Jan 2014      10.24 2014-01-01
1   Feb 2014       6.84 2014-02-01
2   Mar 2014       5.75 2014-03-01
3   Apr 2014       5.69 2014-04-01
4   May 2014       8.01 2014-05-01
..       ...        ...        ...
95  Dec 2021     875.94 2021-12-01
96  Jan 2022     729.07 2022-01-01
97  Feb 2022     819.41 2022-02-01
98  Mar 2022     865.20 2022-03-01
99  Apr 2022     879.36 2022-04-01

[100 rows x 3 columns]

In [75]:
#Import Bitcoin price data 
bitcoin_price_csv = os.path.join(data_dir, 'bitcoinprice.csv')
bitcoin_price_df = pd.read_csv(bitcoin_price_csv)
bitcoin_price_df = bitcoin_price_df.dropna(axis=0, how="any", thresh=None, subset=None, inplace=False)
bitcoin_price_df['datetime'] = pd.to_datetime(bitcoin_price_df['MonthYear'], format='%b %Y')
bitcoin_price_df = bitcoin_price_df.reset_index(drop=True)

In [76]:
bitcoin_price_df

   MonthYear    Price $   datetime
0   Oct 2013     196.02 2013-10-01
1   Nov 2013   1,154.93 2013-11-01
2   Dec 2013     744.17 2013-12-01
3   Jan 2014     841.49 2014-01-01
4   Feb 2014     567.29 2014-02-01
..       ...        ...        ...
94  Aug 2021  47,663.02 2021-08-01
95  Sep 2021  41,412.61 2021-09-01
96  Oct 2021  61,374.28 2021-10-01
97  Nov 2021  57,834.36 2021-11-01
98  Dec 2021  47,128.47 2021-12-01

[99 rows x 3 columns]

In [78]:
#Merge price and market cap data 
merged_df = pd.merge(bitcoin_price_df, bitcoin_marketcap_df[['market cap', 'datetime']], on='datetime' )
merged_df

   MonthYear    Price $   datetime market cap
0   Jan 2014     841.49 2014-01-01      10.24
1   Feb 2014     567.29 2014-02-01       6.84
2   Mar 2014     472.48 2014-03-01       5.75
3   Apr 2014     444.86 2014-04-01       5.69
4   May 2014     612.13 2014-05-01       8.01
..       ...        ...        ...        ...
91  Aug 2021  47,663.02 2021-08-01     886.87
92  Sep 2021  41,412.61 2021-09-01     824.62
93  Oct 2021  61,374.28 2021-10-01   1,156.49
94  Nov 2021  57,834.36 2021-11-01   1,076.69
95  Dec 2021  47,128.47 2021-12-01     875.94

[96 rows x 4 columns]

In [87]:
with open ('Total_TweetCountFinal.json') as data: 
    count_dict = json.load(data)
    #dataframe = pd.DataFrame(count_dict)

In [104]:
df2 = pd.DataFrame.from_dict(count_dict, orient="index").reset_index().rename(columns={'index':'MonthYear', 0:'TweetCount'})
df2['datetime'] = pd.to_datetime(df2['MonthYear'], format='%m-%Y')

In [108]:
final_df = pd.merge(merged_df, df2[['TweetCount', 'datetime']], on='datetime')

In [110]:
final_df.to_csv('Preliminary_Count_Analysis.csv', sep = ',', index = False)